.btn {
  background-color: var(--color-primary);
  color: #fff;
  border-style: none;
  border-radius: 2px;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary-light);
  border-style: solid;
  border-radius: 3px;
  border-color: var(--color-secondary-light);
}

.btn-ghost:hover {
  color: var(--color-secondary-light);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.btn-bag {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-dark {
  background-color: var(--color-primary-dark);
  color: #fff;
}
