h2 {
  color: var(--color-primary-dark);
}

.trending {
  border-width: 3px 0;
  border-style: solid;
}

p {
  font-family: var(--font-secondary);
}

.card {
  border: 1px solid var(--color-secondary);
}

.card:hover {
  filter: sepia(100%);
  transition: all .2s linear;
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-light);
}


.relative {
  position: relative;
}

.singer,
.fan {
  position: absolute;
  top: 6%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-secondary-light);
  padding: 7px;
}

.fan {
  left: 50%
}

@media only screen and (min-width: 38em) {

  .singer,
  .fan {
    top: 11%;
    padding: 12px 15px;
  }

  .fan {
    left: 26%
  }

}

html {
  background-color: #fff;
}

nav {
  border-style: solid;
  border-width: 3px;
  border-color: var(--color-neutral-beige);
}

.artist-products {
  border-width: 2px 0 0;
  border-style: solid;
  border-color: var(--color-secondary);
}

.search-nav,
.about,
.artist {
  color: var(--color-primary);
}
