.card {
  border: 2px solid #000;
  border-radius: var(--border-radius);
}

.card:hover {
  filter: sepia(100%);
  transition: all .2s linear;
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-light);
}
