.call-to-action {
  color: var(--color-secondary-light);
  background-color: var(--color-secondary);
}


@media only screen and (min-width: 25em) {

  .call-to-action {
    right: 7%;
    top: 46%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
  }

}
